API_ID=0
API_HASH=None
BOT_TOKEN=None
DB_CHANNEL_ID=your_channel_id_here
IS_PRIVATE=False
OWNER_ID=your_owner_id_here
PROTECT_CONTENT=True
UPDATE_CHANNEL=your_update_channel_here
AUTH_USERS=your_auth_user_ids_here
